/*Lavet af David*/
body{
    margin: 0;
    background-color: #445565;
}

nav{
    position: sticky;
    top: 0;
    z-index: 6;
}

nav div{
    background-color: #445565;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav img{
    height: 72px;
    width: 300px;
    object-fit: cover;
}

.image-logo{
    padding: 0 !important;
}

nav a{
    padding: 26px;
    color: #F6F6F4;
    font-size: 22px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
}

nav a:hover{
    background-color:  #566777;
}

nav input{
    width: 100%;
    height: 30px;
    background-color: #F6F6F4;
}

h1{
    color: #F6F6F4;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    padding: 20px;
}



label{
    width: 100px;
    height: 46px;
    display: block;
    background-color: #fefefe;
    border-radius: 100px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0, 0.9), inset 0px -5px 15px rgba(202, 202, 202, 0.9);
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
}

label:after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3px;
    left: 4px;
    background: linear-gradient(180deg, rgb(91, 91, 91), #3a3a3a);
    border-radius: 40px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0, 0.9), inset 0px -5px 15px rgba(201, 200, 200, 0.9);
    transition: 0.3s;
}

nav div input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background-color: #445565;
}

input:checked + label::after{
    left: 96px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#ffffff,#ececec);
}

label:active::after{
    width: 52px;
}

header{
    border: #F6F6F4;
    border-style: solid;
}

header img{
    height: 410px;
    width: 100%;
    object-fit: cover;
    object-position: 40% 20%;
}

h2{
    text-align: center;
    color: #F6F6F4;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 28px;
    margin-top: 100px;
}

.section-intro{
    margin: 28px;
    color: #F6F6F4;
}

.section-intro p{
    padding-bottom: 28px;
    font-size: 18px;
}

.section-priser{
    padding: 100px;
    color: #F6F6F4;
    border-top: #F6F6F4;
    border-bottom: #F6F6F4;
    border-left: #445565;
    border-right: #445565;
    border-style: solid;
}

.section-priser div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 28px;
    color: #F6F6F4;
    border-top: #F6F6F4;
    border-bottom: #F6F6F4;
    border-left: #445565;
    border-right: #445565;
    border-style: solid;
}

.section-info img{
    width: 260px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    border: #F6F6F4;
    border-style: solid;
    margin: 28px;
}

.secion-helbred {
    color: #F6F6F4;
    text-align: center;
    margin: 28px;
}

.secion-helbred h4{
    margin-top: 60px;
    font-size: 26px;
}

.secion-helbred p{
    font-size: 18px;
}

.secion-helbred h6{
    font-size: 20px;
}

.secion-helbred article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.section-em-guide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: #F6F6F4;
    margin: 28px;
}

.section-em-guide img{
    height: 200px;
    width: 200px;
    border-radius: 12px;
    border-style: solid;
    border: #F6F6F4;
}

.section-em-guide p{
    font-size: 18px;
}

.section-em-guide h4{
    font-size: 26;
}

.a-button{
    text-decoration: none;
    color: #F6F6F4;
    background-color: #313E49;
    border: #F6F6F4;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    align-self: center;
    padding: 20px;
    width: 55%;
    margin-left: 80%;
}

.a-button:hover{
    background-color: #4c5862;
}

footer{
    background-color: #F6F6F4;
    justify-content: space-between;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 0;
}

.footer-kontact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}

.footer-kontact a{
    text-decoration: none;
    color: #445565;
    font-size: 18px;
}

.footer-kontact p{
    font-size: 18px;
    color: #445565;
}

.footer-brand{
    padding-top: 70px;
    padding-right: 20px;
}

.footer-brand a{
    padding: 10px;
    font-size: 24px;
}

.fa-brands{
    background-color: #445565;
    color: #F6F6F4;
    padding: 10px;
    border-radius: 45px;
}

.fa-facebook-f{
    padding-left: 13px;
    padding-right: 13px;
}

.dark-mode {
    background-color: #F6F6F4;
}

.dark-mode h1{
    color: #445565;
    text-shadow: none;
}

.dark-mode nav div{
    background-color: #F6F6F4;
}

.dark-mode a{
    color: #445565;
    text-shadow: none;
}

.dark-mode footer{
    background-color: #445565;
}

.dark-mode .footer-kontact a{
    color: #F6F6F4;
}

.dark-mode .fa-brands{
    background-color: #F6F6F4;
    color: #445565;
}

.dark-mode footer p{
    color: #F6F6F4;
}

.dark-mode nav a:hover{
    background-color: #fffff6;
}

.dark-mode .a-button{
    background-color: #ffffff;
    color: #445565;
    border: #445565;
    border-style: solid;
}

.dark-mode section img{
    color: #445565;
    border: #445565;
    border-style: solid;
}

.dark-mode article{
    color: #445565;
}

.dark-mode h2{
    color: #445565;
    text-shadow: none;
}

.dark-mode h4{
    color: #445565;
    text-shadow: none;
}

.dark-mode h5{
    color: #445565;
}

.dark-mode p{
    color: #445565;
}


.dark-mode .a-button:hover{
    background-color: #f1f1f0;
}
/*Lavet af David*/